{
 # Activer FrankenPHP
 frankenphp
 # Configurer l'ordre d'exécution de la directive
 order php_server before file_server
}

mailpit.localhost {
    reverse_proxy mailpit_devner:8025
}

adminer.localhost {
    reverse_proxy adminer_devner:8080
}

(global) {
    file_server
    php_server
    tls internal
}